<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>Mongoose Store</title>
	</head>
	<body>
        <nav>
            <a href="/store/new">Add a New Product</a>
        </nav>
		<h1>Mongoose Store</h1>
		<ul>
			<% products.forEach(product => { %>
			<li>
                <a href="/store/<%=product._id; %>"> <img src="<%= product.img %>" title="<%= product.name %>"> </a>
                <br/>
            </li>
			<% }) %>
		</ul>
	</body>
</html>